@model MVC.Data.Book

@{
    ViewData["Title"] = "Details";
    Uri urlAdd = new Uri(@"file:///D:\Users\MIKOLKA\Empty\MVC\MVC\wwwroot" + Model.CoverImageUrl);

    var request = Context.Request;

    string BuildAuthorUrl(Guid id)
        => new UriBuilder(request.Scheme,
                       request.Host.Host,
                       request.Host.Port.GetValueOrDefault(),
                       Url.Content($"/Authors/Details/{id}")).Uri.AbsoluteUri;

}



@section MetaTags
{
    @*<open-graph-book title="@Model.Title" main-image="@(new OpenGraphImage(Model.CoverImageUrl))" release-date="@Model.DatePublish" />*@
    <meta property="og:type" content="book">
    <open-graph-books-book title="@Model.Title"
                           isbn="0-7356-1957-6"
                           language="en"
                           author-urls="@Model.Authors.Select(a => BuildAuthorUrl(a.Id).ToString())"
                           main-image="@(new OpenGraphImage(urlAdd))"
                           release-date="@Model.DatePublish" />

    <twitter-card-summary-large-image username="@@NickMatiosTW"
                                      title="@Model.Title"
                                      site="@(new Uri(@"https://ru.wikipedia.org/wiki"))"
                                      creator="Nick IT Step"
                                      image="@new Boxed.AspNetCore.TagHelpers.Twitter.TwitterImage(urlAdd)"
                                      description="@Model.Description" />
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CoverImageUrl)
    </dt>
    <dd class="col-sm-10">
        <img style="width:50px" src="@Model.CoverImageUrl" />
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    }
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DatePublish)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DatePublish)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Codes)
    </dt>
    <dd class="col-sm-10">@Html.Raw(string.Join("<br/>", Model.Codes.Select(Html.Encode)))</dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
